<div class="container">
  <div class="login-sidebar">
      <form [formGroup]="signinform" class="login-form">
          <div class="input-group">
              <label for="email">Email</label>
              <input id="email" type="email" formControlName="email" placeholder="Enter your email"/>
              <p-message *ngIf="signinform.controls['email'].invalid && signinform.controls['email'].touched" severity="error" text="Valid email is required"></p-message>
          </div>
          <div class="input-group">
              <label for="password">Password</label>
              <input id="password" type="password" formControlName="password" placeholder="Enter your password"/>
              <p-message *ngIf="signinform.controls['password'].invalid && signinform.controls['password'].touched" severity="error" text="Password is required"></p-message>
          </div>
       
          <button type="submit" [disabled]="signinform.invalid" (click)="submitForm()">Sign in</button>
          <div class="register-link">
              <p>Don't have an account? <a routerLink="/registration/signup">Create account</a></p>
          </div>
          <div class="forgot">
            <a routerLink="../forgotpass">Forgot Password?</a>
        </div>
      </form>
  </div>
  <div class="background-section"></div>
</div>
